<p class="instructions">
  Required fields are <strong>bold</strong>.
</p>

<%= form.error_messages %>

<div class="text_field">
  <%= form.label :name, 'Name', :class => 'required' -%>
  <%= form.text_field :name -%>
</div>
<div class="text_field">
  <%= form.label :github_name, 'Github ID' %>
  <%= form.text_field :github_name %>
</div>
<div class="text_field">
  <%= form.label :aliases, 'Aliases' -%>
  <%= form.text_field :aliases -%>
</div>
<div class="select_field">
  <%= form.label :availability_starts -%>
  <%= form.date_select :availability_starts -%>
</div>
<div class="select_field">
  <%= form.label :availability_ends -%>
  <%= form.date_select :availability_ends -%>
</div>
<div class="select_field">
  <%= form.label :hours_per_week -%>
  <%= form.select :hours_per_week, 0..10 -%>
</div>
<div>
  <%= form.label :receive_notifications, 'Check here if you want to receive updates from Builders?' -%>
  <%= form.check_box :receive_notifications -%>
</div>
<div class="textarea_field">
  <%= form.label :notes, 'Tell us a little something about yourself' -%>
  <%= form.text_area :notes -%>
  (<%= link_to('Textile', 'http://hobix.com/textile/', :target => '_blank') -%> supported)
</div>
