<li class="clearfix <%= cycle('even', 'odd', :name => 'row') %>">
  <div class="info">
    <strong>
      <%= link_to(h(user.name), user) %>
    </strong>
 		<%= content_tag(:span, ("(" + h(user.aliases) + ")"), :class => 'alias') unless user.aliases.blank? %>
		<span>
      <%= h user.hours_per_week %> hours / week
    </span>
    <span class="range_start">
      <em>from:</em>
      <%= h user.availability_starts %>
    </span>
    <span class="range_end">
      <em>to:</em>
      <%= h user.availability_ends %>
    </span>
  </div>
  <div class="notes">
    <%= safe_textilize(user.notes) %>
    <div class="skills">
    </div> 
  </div>
</li>
