<dl>
  <dt>Email</dt>
  <dd><%= h @user.email -%></dd>
  <dt>First name</dt>
  <dd><%= h @user.name -%></dd>
  <dt>Availability starts</dt>
  <dd><%= h @user.availability_starts -%></dd>
  <dt>Availability ends</dt>
  <dd><%= h @user.availability_ends -%></dd>
  <dt>Hours per week</dt>
  <dd><%= h @user.hours_per_week -%></dd>
  <dt>Notes</dt>
  <dd><%= h @user.notes -%></dd>
</dl>
 
<p>
  <%= link_to 'Edit', edit_user_path(@user) -%>
  |
  <%= link_to 'Back', :back -%>
</p>