<h2>Welcome <%= h(@user_name) -%></h2> 
<p>
   I'm available to work on projects from <%= @user.availability_starts -%> through <%= @user.availability_ends -%> for <%= @user.hours_per_week %> hours per week.
</p> 
<p>
  <%= link_to 'Change my profile', edit_user_path(@user) -%>
</p>