<ul class="actions clearfix">
  <li>
    <%= link_to_if(allow_profile_edit?(@user), 'edit profile', edit_user_path(@user)) {} -%>
  </li>
</ul>

<h2 class="profile_name">
  <%= h(@user.name) -%> <%= content_tag(:span, ("(" + h(@user.aliases) + ")"), :class => 'alias') unless @user.aliases.blank? %>
</h2>

<div class="profile clearfix">
  <div class="avatar">
    <%= image_tag @user.gravatar_url, :alt => @user.name %>
  </div>
  <div class="info">
    <%= content_tag(:div, mail_to(@user.email, @user.email)) if admin? -%>
    <div class="hours">
      <%= pluralize(@user.hours_per_week, 'hour') -%> / week
    </div>
    <div>
      <em>from:</em> <%= @user.availability_starts -%>
    </div>
    <div>
      <em>to:</em> <%= @user.availability_ends -%>
    </div>
    <div>
      <em>projects:</em> <%= @user.projects.map { |p| link_to(p.org_name, p)}.to_sentence -%>
    </div>
  </div>
  <div class="notes">
    <%= safe_textilize(@user.notes) -%>
    <div class="skills">
      <%= render :partial => 'skill', :collection => @user.skill_list -%>
    </div>
  </div>
</div>
