<div class="content">
  <div class="extra">
    <h2>
      <strong>Builders</strong> connects
      <%= link_to 'volunteers', users_path -%> with <%= link_to 'projects', projects_path -%> for <ins>501c3 non-profits</ins>.
    </h2>
  </div>
  <div class="featured">
    <dl>
      <dt>Featured Volunteer</dt>
      <dd class="volunteer clearfix">
        <%= image_tag @featured_volunteer.gravatar_url,
                      :alt => @featured_volunteer.name %>

        <span class="bio">
          <%= link_to @featured_volunteer.name, @featured_volunteer %>
          <p>
            <%= truncate(safe_textilize(@featured_volunteer.notes),
                         :length => 75) %>
          </p>
        </span>
      </dd>
      <dt>Featured Project</dt>
      <dd class="project clearfix">
        <%= link_to @featured_project.org_name, @featured_project %>
        <p>
          <%= truncate(@featured_project.org_details,
                       :length => 75) %>
        </p>
      </dd>
    </dl>
  </div>
</div>
