<ul class="actions clearfix">
  <li>
    <%= link_to('add a project', new_project_path) -%>
  </li>
</ul>

<h2>Projects</h2>

<div class="projects">
  <ul class="clearfix">
    <% @projects.each do |project| %>
      <li class="clearfix <%= cycle('even', 'odd', :name => 'row') %>">
        <div class="info">
          <strong>
            <%= link_to(h(project.org_name), project) %>
          </strong>
          <span>
            <%= link_to(h(project.website), project.website) %>
          </span>
        </div>
        <div class="notes">
          <%= h project.description %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
