<ul class="actions clearfix">
  <li>
    <%= link_to('add a project', new_project_path) -%>
  </li> 
</ul>

<h2>Projects</h2>

<div class="projects">
  <ul class="clearfix">
    <% @projects.each do |project| %>
      <li class="clearfix <%= cycle('even', 'odd', :name => 'row') %>">
        <div class="info">
          <strong>
            <%= link_to (h project.org_name), project %>
          </strong>
          <span>
            <a href="#external_url"><%= h project.website %></a>
          </span>
        </div>
        <div class="notes">
          <%= h project.description %>
        </div>
      </li>
<!--
        <%= h project.org_details %>
        <%= h project.contact_name %>
        <%= h project.contact_phone %>
        <%= h project.contact_email %>
-->    <% end %>
  </ul>
</div>

