<dl>
  <dt>Org name</dt>
  <dd><%= h @project.org_name -%></dd>
  <dt>Org details</dt>
  <dd><%= h @project.org_details -%></dd>
  <dt>Website</dt>
  <dd><%= h @project.website -%></dd>
  <dt>Description</dt>
  <dd><%= h @project.description -%></dd>
  <% if @project.team_member?(current_user) -%>
    <dt>Notes (<%= link_to 'Edit', edit_project_path(@project) -%>)</dt>
    <dd><%= safe_textilize(@project.notes) -%></dd>
  <% end -%>
</dl>

<div>
  <p><strong>Current Team:</strong> <%= @project.volunteers.map {|v| link_to(v.name, v) }.to_sentence -%></p>
</div>

<% if eligible_to_volunteer? -%>
  <p>
    <% form_tag '/project_volunteers' do -%>
      <%= hidden_field_tag('project_volunteer[project_id]', @project.id) -%>
      <%= submit_tag('Volunteer!', :name => nil) -%>
    <% end %>
  </p>
<% elsif !logged_in? %>
  <p>Want to <%= link_to('help out', signup_path) -%>?</p>
<% end -%>
