<h2 class="profile_name">
  <%= h @project.org_name -%>
</h2>

<div class="profile clearfix">
  <div class="info">
    <div>
      <strong>Website</strong>
    </div>
    <div>
      <%= link_to(h(@project.website), @project.website) -%>
    </div>
    <div>
      <strong>Deadline</strong>
    </div>
    <div>
      <%= @project.deadline.try(:strftime,'%B %d, %Y') -%>
    </div>
    <div>
      <strong>Current Team:</strong>
      <div>
        <%= @project.volunteers.map {|v| link_to(v.name, v)}.to_sentence -%>
      </div>
    </div>
  </div>

  <div class="notes">
    <h3>Org details</h3>
    <div>
      <%= h @project.org_details -%>
    </div>
    <h3>Description</h3>
    <div>
      <%= h @project.description -%>
    </div>
  </div>

  <% if eligible_to_volunteer? -%>
    <p>
      <% form_tag '/project_volunteers' do -%>
        <%= hidden_field_tag('project_volunteer[project_id]', @project.id) -%>
        <%= submit_tag('Volunteer!', :name => nil) -%>
      <% end %>
    </p>
  <% elsif !logged_in? %>
    <p>Want to <%= link_to('help out', signup_path) -%>?</p>
  <% end -%>

</div>
