<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <div class="text_field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>  
  <div class="password_field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>  
  <div class="checkbox_field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <div class="submit_field">
    <%= f.submit "LOGIN" %>
  </div>
<% end %>